#contactForm{
    width: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#contactForm label{
    font-size: 18px;
    margin-right: 10px;
}

#contactForm .contactForm__btn{
    margin-top: 45px;
}
